*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    

}
.main-header{

}

.bg-light{
      /* background-color: #008B8B !important; */
      background-color: yellow !important;
}
.nav-link{
    font-style: italic;
    color:black !important;
    
    margin: 2px;
}
.main{
    min-height: 200vh;
    background-color: rgb(187, 204, 198);
}
.main h1,.main h3{
    text-align: center;
}
a.navbar-brand{
    font-family: 'Kaushan Script', cursive;
    font-size: 150%;
    color: rgb(97, 25, 100);
    
}
#about{
    min-height: 100vh;
    background-color: rgb(98, 185, 185);
    background-image: linear-gradient(to bottom, rgba(18,42, 66, .50), rgba(18,42, 66, .5)), url("https://drive.google.com/uc?export=view&id=1uZNq9lsKtFx3Xaos8GLWEo0qbMoIbeC8") ;
    /* background-image: linear-gradient(to bottom, rgba(18,42, 66, .50), rgba(18,42, 66, .5)), url("../images/background01-lg.jpeg"); */
    /* background-image: linear-gradient(to bottom, rgba(18,42, 66, .50), rgba(18,42, 66, .5)), url("../images/bg_01_resized_02.jpg"); */
    background-repeat: no-repeat;
    /* Optimized-Background01-sm.jpg */
    background: linear-gradient(to bottom, rgba(18,42, 66, .50), rgba(18,42, 66, .5)), url("../images/bg1-hd.jpg")  ;
    background-size: cover;
    background-position: center 30%;
    
}


 #about h1{
    color: white;
    
    
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   
}

#services{
    min-height: 100vh;
    padding: 50px;
}
.services{
   
    flex-direction: column;
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);



    /* background-color: rgb(120, 187, 161); */
    
}
.services-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    width: 30%;
    height: 30vh;
    padding: 25px;
    /* background-color:linear-gradient(to bottom, rgba(18,42, 66, .50), rgba(18,42, 66, .5)); */
    
    margin: 15px;
    /* box-shadow: 0 0 0 5px rgb(175, 192, 129); */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.services-block h3{
    font-size: 125%;
}
#contact h3{
    font-size: 200%;
}
#ep-contact a{
    color: black;
    font-size: 125%;
}

#why-pet-buddies{
    min-height: 100vh;
    padding: 50px;
    background-color: rgb(25, 53, 54);
    text-align: justify;
    color: rgb(217, 249, 250);
    background-image: linear-gradient(to bottom, rgba(18,42, 66, .50), rgba(18,42, 66, .5)), url("../images/background02-lg-min.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    
    background-size: cover;
}
.wp-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 30%;
    padding: 25px;
    /* background-color: rgb(195, 224, 188); */
    margin: 15px;
    /* box-shadow: 0 0 0 5px rgb(175, 192, 129); */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

}
.wp-block:hover{
    width: 33%;
}
#contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 40vh;
    padding: 20px;
    /* background-color: rgb(148, 175, 142); */
    background-image: linear-gradient(45deg, rgb(133, 255, 189) 0%, rgb(255, 251, 125) 100%);
    

}
.width30p{
    width: 75%;
    text-align: center;
    margin:auto;
    /* background-color: darkcyan; */
}

/* .footer{
    display: flex;
    align-items: flex-end;

    min-height: 50px;
   
    background-color: rgb(255, 210, 105);
    border: 1px solid black;
}
*/
.footer{
    height: 50px;
    background-color: cadetblue;
}
#contact a{
    text-align: center;
    text-decoration: none;
}



#contact ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* background-color: fuchsia; */
}
.social li{
    list-style-type: none;
    margin: 5px;
}
.social li a{ 
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 5px; */
    box-sizing: border-box;
    width: 120px;
    height: 50px;
    /* background-color: lightgreen; */
    list-style-type: none;
    border: 1px solid green;
    border-radius: 10%;
}
li:hover{
    border-radius: 10%;
    box-shadow: 0 0 0 4px grey;
}


li .s-logo{
    width:30px;
    height:auto;
}
.social{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fd-col{
    flex-direction: column;
}

#btn-top a{
    height: auto;
    width: auto;
    padding: 5px;
    background-color: burlywood;
    width: auto;
    border: 1px solid blueviolet;
    border-radius: 10%;
}
@media only screen and (max-width: 780px) {

    #about{
        padding: 20px;
        background-image: linear-gradient(to bottom, rgba(18,42, 66, .50), rgba(18,42, 66, .5)), url("../images/Optimized-Background01-sm.jpg");
}
#services{
    padding: 25px;
}
.services-block{
    width: 95%;
    height: auto;
    

    
}
.wp-block{
    width: 95%;
    height: auto;
    
}
#why-pet-buddies{
    background-image: linear-gradient(to bottom, rgba(18,42, 66, .50), rgba(18,42, 66, .5)), url("../images/Optimized-background02-md.jpeg");

    padding: 20px;
}
.navbar-brand{
    text-align: center;
    
}
/* #contact{
    padding: 20px;
    height: auto;
} */
#contact ul{
    
    flex-direction: column;
}
.wp-block:hover{
    width: 97%;
}

}

@media only screen and (max-width:320px){
    /* #about{
        background: cadetblue;
    } */
}

@media only screen and (min-width:321px) and (max-width:360px){
    /* #about{
        background: rgb(11, 127, 131);
    } */
}

@media only screen and (min-width:361px) and (max-width:375px){
    /* #about{
        background: rgb(241, 30, 118);
    } */
}
@media only screen and (min-width:376px) and (max-width:480px){
    
}
@media only screen and (min-width:481px) and (max-width:600px){
  
}
@media only screen and (min-width:601px) and (max-width:768px){
    
}
@media only screen and (min-width:769px) and (max-width:900px){
    
    .services{
        height: auto;
    }
    .services-block{
        width: 45%;
        height: 45vh;
    }
    .wp-block{
        width: 45%;
    }
    #contact{
        min-height: 45vh;
    }
}
@media only screen and (min-width:901px) and (max-width:1024px){
    /* #about{
        background: rgb(173, 24, 36);
    } */
    .services{
        height: auto;
    }
    .services-block{
        width: 45%;
        height: 45vh;
    }
    .wp-block{
        width: 45%;
    }
}
@media only screen and (min-width:1025px) and (max-width:1200px){
    /* #about{
        background: rgb(197, 175, 177);
    } */
    .services{
        height: auto;
    }
    .services-block{
        width: 45%;
        height: 45vh;
    }
    .wp-block{
        width: 45%;
    }
}@media only screen and (min-width:1201px){
    /* #about{
        background: rgb(23, 196, 124);
    } */
    .services{
        height: auto;
    }
    .services-block{
        width: 30%;
        height: 45vh;
    }
    .wp-block{
        width: 45%;
    }
}
/* 320 cheap phones,360 normal mobile,375 iphone */
/* 320px
480px
600px
768px
900px
1024px
1200px */


